:root {
  --font-size-1: 64px;
  --font-size-2: 32px;
  --font-size-3: 18px;

  --text-color-1: #f0f0f0;
  --text-color-2: #717171;

  --bg-color-1: #484848;
  --bg-color-2: #404040;
  --bg-color-3: #282828;
  --bg-color-4: #222222;
  --bg-color-5: #191919;

  --photo-size: 525px;

  --photo-discord-src: "https://www.freepnglogos.com/pics/discord-logo-png";
  --photo-github-src: "https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png";
  --photo-telegram-src: "https://www.freepnglogos.com/pics/telegram-png";

  --icons-size: 100px;
}
* {
  margin: 0;
  padding: 0;
  color: var(--text-color-1);
}

.logo {
  font-size: 20px;
}

html {
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: var(--bg-color-3);
  scroll-behavior: smooth;
}

.nav {
  background-color: var(--bg-color-5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
  position: sticky;
  top: 0px;
}

a {
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.intro>.description>.title {
  font-size: var(--font-size-1);
}

.intro>.description>.description {
  font-size: var(--font-size-3);
  color: var(--text-color-2);
}

.intro>.description>.btn {
  margin-top: 20px;
  padding: 10px 70px;
  font-size: var(--font-size-2);
  border: solid 4px var(--bg-color-1);
  width: max-content;
  height: max-content;
  cursor: pointer;
}

.intro>.description>.btn:hover {
  opacity: 0.6;
  transition: all 1s;
}

.intro>.image>.img {
  min-width: var(--photo-size);
  min-height: var(--photo-size);
  background-image: var(--photo-src);
  border-radius: 50%;
  background-color: var(--bg-color-1);
  background-size: cover;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 60px;
}

.about>.container>.title,
.langs>.title {
  font-size: var(--font-size-1);
  margin-bottom: 20px;
}

.langs>.title {
  margin-top: 100px;
}

.about>.container>.description {
  font-size: var(--font-size-2);
}

.about>.container {
  width: 60%;
}

.langs {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.langs>.title {
  margin-bottom: 50px;
}

.langs>.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1325px;
}

.langs>.container>div,
.langs>.container>div:empty {
  width: 400px;
  height: 650px;
  background-color: var(--bg-color-1);
  border-radius: 10px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items>div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px;
  max-width: 1372px;
}

.items>div>div,
.items>div>div:empty {
  background-color: var(--bg-color-1);
  border-radius: 10px;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.block {
  padding: 40px;
}

.block>.container,
.block>.container:empty {
  background-color: var(--bg-color-1);
  height: calc(calc(100vh - 54px) - 220px);
}

.footer {
  display: flex;
  justify-content: center;
}

.footer>div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.footer>div>.ico,
.footer>div>.ico:empty {
  width: var(--icons-size);
  height: var(--icons-size);
  border-radius: 50%;
  background-color: var(--bg-color-4);
  margin-bottom: 10px;
  background-size: cover;
}

.discord>.ico {
  background-image: var(--photo-discord-src);
}

.github>.ico {
  background-image: var(--photo-github-src);
}

.telegram>.ico {
  background-image: var(--photo-telegram-src);
}

.land-page {
  height: calc(100vh - 54px);
}